<div class="nav-wrapper">
  <div class="nav-left"></div>
  <div class="nav">
    <ul>
      <li {% ifequal section ""  %} class="active" {% endifequal %}><a href="/"><span class="menu-left"></span><span class="menu-mid">Home</span><span class="menu-right"></span></a></li>
	  <li {% ifequal section "services" %} class="active" {% endifequal %}><a href="services"><span class="menu-left"></span><span class="menu-mid">Services</span><span class="menu-right"></span></a></li>
	  <li {% ifequal section "contact" %} class="active" {% endifequal %}><a href="contact"><span class="menu-left"></span><span class="menu-mid">Contact Us</span><span class="menu-right"></span></a></li>
      <li><a href="login"><span class="menu-left"></span><span class="menu-mid">Log in</span><span class="menu-right"></span></a></li>
    </ul>
  </div>
  <div class="nav-right"></div>
</div>