<div class="nav-wrapper">
<div class="nav-left"></div>
<div class="nav">
	<ul>
		<li><a href"#"><span class="menu-left"></span><span class="menu-mid">Dashboard</span><span class="menu-right"></span></a></li>
		<li><a href"#"><span class="menu-left"></span><span class="menu-mid">Clients</span><span class="menu-right"></span></a></li>
		<li><a href"#"><span class="menu-left"></span><span class="menu-mid">Products</span><span class="menu-right"></span></a></li>
		<li><a href"#"><span class="menu-left"></span><span class="menu-mid">Discounts</span><span class="menu-right"></span></a></li>
	</ul>
</div>
<div class="nav-right"></div>
</div>