{% extends "../main.html" %}

{% block styles %}
<link rel="stylesheet" href="/stylesheets/product/index.css" type="text/css" media="screen">
{% endblock %}

{% block title %}Products{% endblock %}

{% block content %}
{% for product in products %}
<div id="product-{{product.key.id}}" class="order">
<div class="status">
	<span>{{product.key.id}}</span>
</div>
<div class="title">
<h4><a href="dashboard/product/edit/{{product.key.id}}">Order: {{product.key.id}}</a></h4>{{product.category}}
</div>
</div>
{% endfor %}
{% endblock %}